.container {
  display: flex;
  flex:1;
}
.dashboard {
  position: relative;
  width: 100%;
  z-index: 0;
}
.topBaseGradients {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50rem;
  overflow: hidden;
  z-index: -1;

}
.topBaseGradients > :nth-child(2) {
  left: 40%;
}
.topBaseGradients > :nth-child(3) {
  right: 0;
}
.header {
  display: flex;
  padding: 2rem 4rem;
  align-items: center;
  justify-content: space-between;
}
.header > :nth-child(1) {
  font-size: 1.2rem;
}

.content {
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;
  /* uncomment the aic, and make mt -4rem */
  margin-top: -4rem;
}
.content > div {
  width: 100%;
  min-width: 75vh;
}
